// ********* DESIGN SYSTEM *********

// ************ COLORS ************
$color-white-smoke: #f4f6fa;
$color-jet-grey: #626c7f;
$color-electric-purple: #a729f5;
$color-white: #fff;
$color-pickled-bluewood: #313e51;
$color-forget-me-not: #fff1e9;
$color-frosted-mint: #e0fdef;
$color-titan-white: #ebf0ff;
$color-blue-chalk: #f6e7ff;
$color-tealish-green: #26d782;
$color-valentine-red: #ee5454;
$color-cloudy-blue: #abc1e1;
$color-river-bed: #3b4d66;

// ********** FONT-FAMILY **********
$font-rubik: "Rubik", serif;

// ********* FONT-WEIGHTS *********
$fw-light: 300;
$fw-medium: 500;

// ************* BASE *************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: $color-white-smoke;
  font-family: $font-rubik;
  transition: all 0.3s;
}

html,
body {
  min-height: 100%;
}

// ************ MIXINS ************
@mixin subject-option-styles {
  width: 100%;
  background: $color-white;
  padding: 1.2rem;
  border-radius: 1.2rem;
  box-shadow: 0 1.6rem 4rem 0 rgba(143, 160, 193, 0.14);
}

@mixin italic-text-styles {
  color: $color-jet-grey;
  font-size: 1.4rem;
  font-style: italic;
  line-height: 2.1rem;
}

@mixin icon-letter-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 0.6rem;
}

@mixin correct-error-styles {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
}

// ********* 375px LAYOUT *********
body {
  padding: 1.6rem 2.4rem;
  background-image: url(../../public/images/pattern-background-mobile-light.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

// ************** APP **************
.app {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

// ************ HEADER ************
.header {
  margin-bottom: 1.6rem;

  &__subject-theme {
    display: flex;
    align-items: center;
  }
}

// ************ SUBJECT ************
.subject {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  &__icon-container {
    @include icon-letter-styles;
    background: $color-blue-chalk;
  }

  &__icon {
    width: 2.8571rem;
    height: 2.8571rem;
  }

  &__name {
    color: $color-pickled-bluewood;
    font-size: 1.8rem;
    font-weight: $fw-medium;
    transition: all 0.3s;
  }

  &__container {
    @include subject-option-styles;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:focus-visible {
      outline: 0.2rem solid $color-electric-purple;
    }
  }
}

// ************ THEME *************
.theme {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-left: auto;

  &__icon {
    width: 1.6rem;
    height: 1.6rem;

    & path {
      transition: all 0.3s;
    }
  }

  &__checkbox {
    display: none;
  }

  &__slider-container {
    width: 3.2rem;
    height: 2rem;
    background: $color-electric-purple;
    border-radius: 99.9rem;
    position: relative;

    &:focus-visible {
      outline: 0.2rem solid $color-pickled-bluewood;
      outline-offset: -0.1rem;
    }

    &.white-outline {
      &:focus-visible {
        outline: 0.2rem solid $color-white;
        outline-offset: -0.1rem;
      }
    }
  }

  &__slider {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: $color-white;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    transition: transform 0.3s;
  }
}

// ********** START-MENU **********
.start-menu {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  &__subjects {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
}

// *********** GREETING ***********
.greeting {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    color: $color-pickled-bluewood;
    font-size: 4rem;
    font-weight: $fw-light;
    transition: color 0.3s;

    &--medium-bold {
      font-weight: $fw-medium;
    }
  }

  &__instruction {
    @include italic-text-styles;
    transition: all 0.3s;
  }
}

// ************ QUESTION ***********
.question {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  &__number {
    display: inline-block;
    @include italic-text-styles;
    margin-bottom: 1.2rem;
    transition: all 0.3s;
  }

  &__text {
    color: $color-pickled-bluewood;
    font-size: 2rem;
    font-weight: $fw-medium;
    line-height: 2.4rem;
    margin-bottom: 2.4rem;
    transition: all 0.3s;
  }

  &__progress-container {
    height: 1.6rem;
    padding: 0.4rem;
    width: 100%;
    border-radius: 99.9rem;
    background: $color-white;
    display: flex;
    align-items: center;
    transition: all 0.3s;
  }

  &__progress {
    width: 100%;
    height: 0.8rem;
    border: none;

    &::-webkit-progress-bar {
      background: transparent;
    }

    &::-webkit-progress-value {
      background: $color-electric-purple;
      border-radius: 10.4rem;
    }
  }

  &__options-submit-error {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &-completed-btn {
    height: 5.6rem;
    padding: 1.2rem;
    border-radius: 1.2rem;
    background: $color-electric-purple;
    box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
    border: none;
    color: $color-white;
    font-family: $font-rubik;
    font-size: 1.8rem;
    font-weight: $fw-medium;
    transition: box-shadow 0.3s;

    &:focus-visible {
      outline: 0.2rem solid $color-pickled-bluewood;
      outline-offset: -0.1rem;
    }

    &.white-outline-btn {
      &:focus-visible {
        outline: 0.2rem solid $color-white;
        outline-offset: -0.1rem;
      }
    }
  }

  &__error-icon-text {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    align-self: start;
    margin: 0 auto;
  }

  &__error-icon {
    @include correct-error-styles;
  }

  &__error-text {
    color: $color-valentine-red;
    font-size: 1.8rem;
    transition: all 0.3s;
  }
}

// ************ OPTION ************
.option {
  @include subject-option-styles;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.3rem solid transparent;
  transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;

  &:focus-visible {
    outline: 0.2rem solid $color-electric-purple;
  }

  &__letter-text {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__letter {
    @include icon-letter-styles;
    background: $color-white-smoke;
    color: $color-jet-grey;
    font-size: 1.8rem;
    font-weight: $fw-medium;
    flex-shrink: 0;
    transition: all 0.3s;
  }

  &__text {
    color: $color-pickled-bluewood;
    font-size: 1.8rem;
    font-weight: $fw-medium;
    transition: color 0.3s;
  }

  &__correct-error {
    @include correct-error-styles;
    flex-shrink: 0;
    margin-left: 1.2rem;
  }
}

// *********** COMPLETED ***********
.completed {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    color: $color-pickled-bluewood;
    font-size: 4rem;
    font-weight: $fw-light;
    transition: color 0.3s;

    &--medium-bold {
      font-weight: $fw-medium;
    }
  }

  &__card-btn {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    border-radius: 1.2rem;
    background: $color-white;
    box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
    padding: 3.2rem;
    align-items: center;
    transition: all 0.3s;
  }

  &__score {
    color: $color-pickled-bluewood;
    font-size: 8.8rem;
    font-weight: $fw-medium;
    transition: all 0.3s;
  }

  &__questions {
    color: $color-jet-grey;
    font-size: 1.8rem;
  }
}

// ******* 320px - 374px LAYOUT *******
@media only screen and (max-width: 23.4375em) {
  // ************ GREETING ************
  .greeting {
    &__text {
      font-size: 3.8rem;
    }
  }

  // ************** OPTION *************
  .option {
    &__text {
      font-size: 1.6rem;
    }

    &__correct-error {
      width: 3rem;
      height: 3rem;
    }
  }

  // ************ COMPLETED ***********
  .completed {
    &__header {
      font-size: 3.8rem;
    }
  }
}

// ******** DYNAMIC-STYLES ********
.purple-border {
  border: 0.3rem solid $color-electric-purple;
}

.purple-background {
  background: $color-electric-purple;
}

.white-color {
  color: $color-white;
}

.green-border {
  border: 0.3rem solid $color-tealish-green;
}

.green-background {
  background: $color-tealish-green;
}

.red-border {
  border: 0.3rem solid $color-valentine-red;
}

.red-background {
  background: $color-valentine-red;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.translate-12px {
  transform: translateX(1.2rem);
}

.pickled-bluewood-bg {
  background: $color-pickled-bluewood;
}

.cloudy-blue-color {
  color: $color-cloudy-blue;
}

.river-bed-bg {
  background: $color-river-bed;
}

.box-shadow-dark {
  box-shadow: 0px 16px 40px 0px rgba(49, 62, 81, 0.14);
}

.dark-pattern-bg {
  background-image: url(../../public/images/pattern-background-mobile-dark.svg);
}
