// ************ MIXINS ************
@mixin subject-option-styles {
  width: 100%;
  background: $color-white;
  padding: 1.2rem;
  border-radius: $responsive-12px-24px;
  box-shadow: 0 1.6rem 4rem 0 rgba(143, 160, 193, 0.14);
}

@mixin italic-text-styles {
  color: $color-jet-grey;
  font-size: $responsive-14px-20px;
  font-style: italic;
  line-height: $responsive-21px-30px;
}

@mixin icon-letter-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $responsive-40px-56px;
  height: $responsive-40px-56px;
  border-radius: $responsive-6px-12px;
}

@mixin correct-error-styles {
  display: block;
  width: $responsive-32px-40px;
  height: $responsive-32px-40px;
}
