*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: #f4f6fa;
  font-family: "Rubik", serif;
  transition: background-color 0.3s;
}

html,
body {
  min-height: 100%;
}

body {
  padding: clamp(1.6rem, 1.6rem + 38 * (100vw - 37.5rem) / 393, 5.4rem) clamp(2.4rem, 2.4rem + 40 * (100vw - 37.5rem) / 393, 6.4rem);
  background-image: url(../../public/images/pattern-background-mobile-light.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 0.7rem;
}

.dark-pattern-bg {
  background-image: url(../../public/images/pattern-background-mobile-dark.svg);
}

.app {
  display: flex;
  flex-direction: column;
  gap: clamp(0.9rem, 3.2rem - 23 * (100vw - 37.5rem) / 393, 3.2rem);
}

.header {
  margin-bottom: clamp(1.6rem, 1.6rem + 38 * (100vw - 37.5rem) / 393, 5.4rem);
}
.header__subject-theme {
  display: flex;
  align-items: center;
}

.subject {
  display: flex;
  align-items: center;
  gap: clamp(1.6rem, 1.6rem + 16 * (100vw - 37.5rem) / 393, 3.2rem);
}
.subject__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(4rem, 4rem + 16 * (100vw - 37.5rem) / 393, 5.6rem);
  height: clamp(4rem, 4rem + 16 * (100vw - 37.5rem) / 393, 5.6rem);
  border-radius: clamp(0.6rem, 0.6rem + 6 * (100vw - 37.5rem) / 393, 1.2rem);
}
.subject__icon {
  width: clamp(2.8rem, 2.8rem + 12 * (100vw - 37.5rem) / 393, 4rem);
  height: clamp(2.8rem, 2.8rem + 12 * (100vw - 37.5rem) / 393, 4rem);
}
.subject__name {
  color: #313e51;
  font-size: clamp(1.8rem, 1.8rem + 10 * (100vw - 37.5rem) / 393, 2.8rem);
  font-weight: 500;
  transition: color 0.3s;
}
.subject__container {
  width: 100%;
  background: #fff;
  padding: 1.2rem;
  border-radius: clamp(1.2rem, 1.2rem + 12 * (100vw - 37.5rem) / 393, 2.4rem);
  box-shadow: 0 1.6rem 4rem 0 rgba(143, 160, 193, 0.14);
  transition: background-color 0.3s, box-shadow 0.3s;
}
.subject__container:focus-visible {
  outline: 0.2rem solid #a729f5;
}

.theme {
  display: flex;
  align-items: center;
  gap: clamp(0.8rem, 0.8rem + 8 * (100vw - 37.5rem) / 393, 1.6rem);
  margin-left: auto;
}
.theme__icon {
  width: clamp(1.6rem, 1.6rem + 8 * (100vw - 37.5rem) / 393, 2.4rem);
  height: clamp(1.6rem, 1.6rem + 8 * (100vw - 37.5rem) / 393, 2.4rem);
}
.theme__icon path {
  transition: all 0.3s;
}
.theme__checkbox {
  display: none;
}
.theme__slider-container {
  width: 3.2rem;
  height: 2rem;
  background: #a729f5;
  border-radius: 99.9rem;
  position: relative;
}
.theme__slider-container:focus-visible {
  outline: 0.2rem solid #313e51;
  outline-offset: -0.1rem;
}
.theme__slider-container.white-outline:focus-visible {
  outline: 0.2rem solid #fff;
  outline-offset: -0.1rem;
}
.theme__slider {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  transition: transform 0.3s;
}
.theme__slider--translate {
  transform: translateX(1.2rem);
}

.start-menu {
  display: flex;
  flex-direction: column;
  gap: clamp(4rem, 4rem + 24 * (100vw - 37.5rem) / 393, 6.4rem);
}
.start-menu__subjects {
  display: flex;
  flex-direction: column;
  gap: clamp(1.2rem, 1.2rem + 12 * (100vw - 37.5rem) / 393, 2.4rem);
}

.greeting {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.greeting__text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #313e51;
  font-size: clamp(4rem, 4rem + 24 * (100vw - 37.5rem) / 393, 6.4rem);
  font-weight: 300;
  transition: color 0.3s;
}
.greeting__text--medium-bold {
  font-weight: 500;
}
.greeting__instruction {
  color: #626c7f;
  font-size: clamp(1.4rem, 1.4rem + 6 * (100vw - 37.5rem) / 393, 2rem);
  font-style: italic;
  line-height: clamp(2.1rem, 2.1rem + 9 * (100vw - 37.5rem) / 393, 3rem);
  transition: color 0.3s;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.question__number {
  display: inline-block;
  color: #626c7f;
  font-size: clamp(1.4rem, 1.4rem + 6 * (100vw - 37.5rem) / 393, 2rem);
  font-style: italic;
  line-height: clamp(2.1rem, 2.1rem + 9 * (100vw - 37.5rem) / 393, 3rem);
  margin-bottom: 1.2rem;
  transition: all 0.3s;
}
.question__text {
  color: #313e51;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin-bottom: 2.4rem;
  transition: all 0.3s;
}
.question__progress-container {
  height: 1.6rem;
  padding: 0.4rem;
  width: 100%;
  border-radius: 99.9rem;
  background: #fff;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.question__progress {
  width: 100%;
  height: 0.8rem;
  border: none;
}
.question__progress::-webkit-progress-bar {
  background: transparent;
}
.question__progress::-webkit-progress-value {
  background: #a729f5;
  border-radius: 10.4rem;
}
.question__options-submit-error {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.question__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.question-completed-btn {
  height: 5.6rem;
  padding: 1.2rem;
  border-radius: 1.2rem;
  background: #a729f5;
  box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
  border: none;
  color: #fff;
  font-family: "Rubik", serif;
  font-size: 1.8rem;
  font-weight: 500;
  transition: box-shadow 0.3s;
}
.question-completed-btn:focus-visible {
  outline: 0.2rem solid #313e51;
  outline-offset: -0.1rem;
}
.question-completed-btn.white-outline-btn:focus-visible {
  outline: 0.2rem solid #fff;
  outline-offset: -0.1rem;
}
.question__error-icon-text {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  align-self: start;
  margin: 0 auto;
}
.question__error-icon {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
}
.question__error-text {
  color: #ee5454;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.option {
  width: 100%;
  background: #fff;
  padding: 1.2rem;
  border-radius: clamp(1.2rem, 1.2rem + 12 * (100vw - 37.5rem) / 393, 2.4rem);
  box-shadow: 0 1.6rem 4rem 0 rgba(143, 160, 193, 0.14);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.3rem solid transparent;
  transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
}
.option:focus-visible {
  outline: 0.2rem solid #a729f5;
}
.option__letter-text {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.option__letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(4rem, 4rem + 16 * (100vw - 37.5rem) / 393, 5.6rem);
  height: clamp(4rem, 4rem + 16 * (100vw - 37.5rem) / 393, 5.6rem);
  border-radius: clamp(0.6rem, 0.6rem + 6 * (100vw - 37.5rem) / 393, 1.2rem);
  background: #f4f6fa;
  color: #626c7f;
  font-size: 1.8rem;
  font-weight: 500;
  flex-shrink: 0;
  transition: all 0.3s;
}
.option__text {
  color: #313e51;
  font-size: 1.8rem;
  font-weight: 500;
  transition: color 0.3s;
}
.option__correct-error {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  flex-shrink: 0;
  margin-left: 1.2rem;
}

.completed {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.completed__header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #313e51;
  font-size: 4rem;
  font-weight: 300;
  transition: color 0.3s;
}
.completed__header--medium-bold {
  font-weight: 500;
}
.completed__card-btn {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.completed__card {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  border-radius: 1.2rem;
  background: #fff;
  box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
  padding: 3.2rem;
  align-items: center;
  transition: all 0.3s;
}
.completed__score {
  color: #313e51;
  font-size: 8.8rem;
  font-weight: 500;
  transition: all 0.3s;
}
.completed__questions {
  color: #626c7f;
  font-size: 1.8rem;
}

@media only screen and (max-width: 23.4375em) {
  .greeting__text {
    font-size: 3.8rem;
  }
  .option__text {
    font-size: 1.6rem;
  }
  .option__correct-error {
    width: 3rem;
    height: 3rem;
  }
  .completed__header {
    font-size: 3.8rem;
  }
}
@media only screen and (min-width: 48em) {
  body {
    background-image: url(../../public/images/pattern-background-tablet-light.svg);
    background-position-x: -24.5rem;
  }
  .dark-pattern-bg {
    background-image: url(../../public/images/pattern-background-tablet-dark.svg);
  }
  .theme__slider-container {
    width: 4.8rem;
    height: 2.8rem;
  }
  .theme__slider {
    width: 2rem;
    height: 2rem;
  }
  .theme__slider--translate {
    transform: translateX(2rem);
  }
}
.purple-border {
  border: 0.3rem solid #a729f5;
}

.purple-background {
  background: #a729f5;
}

.white-color {
  color: #fff;
}

.green-border {
  border: 0.3rem solid #26d782;
}

.green-background {
  background: #26d782;
}

.red-border {
  border: 0.3rem solid #ee5454;
}

.red-background {
  background: #ee5454;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.pickled-bluewood-bg {
  background-color: #313e51;
}

.cloudy-blue-color {
  color: #abc1e1;
}

.river-bed-bg {
  background: #3b4d66;
}

.box-shadow-dark {
  box-shadow: 0px 16px 40px 0px rgba(49, 62, 81, 0.14);
}/*# sourceMappingURL=main.css.map */